<div class = "row">
    <h2> Students List</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> Full Name</th>
            <th> Age </th>
            <th> Class </th>
            <th> Phone </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let student of students" >
            <td> {{ student.name }} </td>
            <td> {{ student.age }} </td>
            <td> {{ student.section }} </td>
            <td> {{ student.phone }} </td>
            <td>
                <button (click) = "update(student.id)" class = "btn btn-primary"> Update</button>
                <button (click) = "delete(student.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "details(student.id)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
